---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-lighter">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
        {%- comment -%}
        <img src="{{ '/assets/img/horse.png' | relative_url }}" alt="Knight Icon" style="width: 28px; height: 28px">
        {%- endcomment -%}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    {% if site.subtitle %}
      <h6 class="post-subtitle">{{ site.subtitle }}</h6>
    {% endif %}
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}" style="margin-top: 20px;">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: site.baseurl %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <br>
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}
    
    {% comment %}
    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}
    {% endcomment %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected Publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Motivational Quotes Section -->
    <br>
    <h2>Motivational Quotes</h2>
    <blockquote class="no-margin reduce-gap">
    <p><q><i>Learning gives creativity, Creativity leads to thinking, Thinking leads to knowledge, Knowledge makes you great.</i></q> - <a href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam">A. P. J. Abdul Kalam</a></p>
    <br>
    <p><q><i>I don't stop when I'm tired, I stop when I'm done.</i></q> - <a href="https://davidgoggins.com/about/">David Goggins</a></p>
    </blockquote>

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
    <!-- ClustrMaps Visitor Globe -->
    <div style="width: 250px; margin: 0 auto;">
      <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=vTkSZbycI2N4HDJpTMhor8zt-EOoSQCUjvM8se6r3go"></script>
    </div>
  </article>
</div>
